body {
    font-family: 'Special Elite', cursive;
    color: white;
    background: #060910;
}

#header {
    margin: auto;
    height: auto;
    margin-top: 20px;
    text-align: center;
    display: block;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

img {
    width: 250px;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.25em;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    text-align: center;
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.character {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

#battleGround {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 380px;
    text-align: center;
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
}

#seafloor {
    position: absolute;
    width: 1000px;
    align-content: center;
}

#gameOverText {
    position: absolute;
    top: 0px;
    right: 400px;
    font-size: 3em;
}

#playerCorner {
    position: absolute;
    left: 130px;
	top: 140px;
	width: 150px;
	height: 150px;
    margin: 0px;
}

#characterWin {
    position: absolute;
    left: 130px;
	top: 140px;
	width: 150px;
	height: 150px;
    margin: 0px;
}

.lookRight {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#yourSide {
    position: absolute;
    left: 150px;
    top: 50px;
    width: 150px;
    height: 150px;
    margin: 0px;
}

#enemyCorner {
    position: absolute;
    right: 200px;
	top: 140px;
	width: 150px;
	height: 150px;
    margin: 0px;
}

#theirSide {
    position: absolute;
    right: 150px;
    top: 50px;
    width: 150px;
    height: 150px;
    margin: 0px;
}

#biteButton {
    position: absolute;
    align-content: center;
    bottom: 40px;
    right: 450px;
    background: #7c2626;
    color: white;
    cursor: pointer;
    border: none;
}

#doOver {
    position: absolute;
    align-content: center;
    bottom: -120px;
    right: 420px;
    background: #7c2626;
    color: white;
    cursor: pointer;
    border: none;
}

#biteButton:active {
    background: #d00000;
}

span {
    font-family: 'Rock Salt', cursive;
    font-size: 1.4em;
}

#doOver {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
}